<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Личный кабинет</h2>
        <button id="logoutBtn" class="btn btn-delete">Выйти</button>
    </div>
    <div class="card">
        <p><strong>Имя:</strong> <span id="u-firstName">Загрузка...</span></p>
        <p><strong>Фамилия:</strong> <span id="u-lastName">Загрузка...</span></p>
        <p><strong>Возраст:</strong> <span id="u-age">Загрузка...</span></p>
        <p><strong>Логин:</strong> <span id="u-username">Загрузка...</span></p>
    </div>
</div>

<script src="/js/user.js"></script>
</body>
</html>